#APP
APP.HOST="0.0.0.0:8100"
APP.MODE="dev"

#DB
# DB.TIMEOUT="5s"
# DB.POSTGRES.USERNAME="pege_user"
# DB.POSTGRES.PASSWORD="pege_pass"
# DB.POSTGRES.HOST="127.0.0.0:5434"
# DB.POSTGRES.NAME="tni_au"

#SQLDB
DB.TIMEOUT="5s"
DB.SQLSERVER.USERNAME="arsip"
DB.SQLSERVER.PASSWORD="db_simpers_9396"
DB.SQLSERVER.HOST="10.35.82.34:1433"
DB.SQLSERVER.NAME="SISFOPERS_LV"


#SWAGGER
SWAGGER.BASE_PATH="/doc"
SWAGGER.DESCRIPTION="Dummy Simpers AU API Documentation for TNI AU"
SWAGGER.HOST="localhost:8080"
SWAGGER.TITLE="Dummy Simpers AU API Documentation"
SWAGGER.VERSION="1.0"

TRACER.ADDRESS="otel_collector:4318"
TRACER.SERVICE_NAME="refactory-simpers-au-api"